@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin : 0;
    }

body{
    font-family: 'raleway';
    }

header{
    max-width: 1340px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }

header img {
    width: 61.9px;
    object-fit: contain;
    padding: 30px 0px;
    }

header nav ul{
    display: flex;
    gap: 68px;
    list-style: none;
    height: 35px;
    
    }

header nav a:hover {
    color: #0065FC;
    padding-top: 14px;
    border-top: 2px solid #0065FC;
    }

a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    }

h2{
    font-size:  18px;
    color:black
    }

footer{
    max-width: 1340px;
    margin:auto;
    display: flex;
    background-color:#F2F2F2 ;
    }

footer ul{
    
    list-style: none;
    padding: 0;
    
    }

footer h2, footer li{
        margin-bottom: 15px;
    }

footer div{ 
    margin: 20px 0px 0px 20px;
    flex:1;
    }